@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");
*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: "roboto";
}

header {
	font-family: "Shrikhand";
	text-align: center;
	box-shadow: 0px 1px 1px 1px grey;
	padding: 2px;
	position: relative;
}

main .lieu {
	background-color: #f3f3f3;
	text-align: center;
	display: flex;
	padding: 1px;
	align-items: center;
	gap: 10px;
	justify-content: center;
}

.reserver {
	text-align: center;
}

.reserver h2 {
	margin-top: 27px;
}
.reserver p {
	font-size: 17px;
}

.reserver button{
	color:white;
	font-weight: 300;
	font-size: 20px;
	padding:10px 30px;
	border-radius: 30px;
	box-shadow: 2px 1px 16px -3px #000000;
	margin-top: 40px;
	height: 73px;
	width: 300px;
	border: none;
	background-image:linear-gradient(to top, rgba(147, 86, 220, 0.9),
         rgba(255, 121, 218, 0.9));}

.reserver button:hover{transform:scale(1.1);}