*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0;
	font-family: "roboto";
}

header {
	font-family: "Shrikhand";
	text-align: center;
	box-shadow: 0px 1px 1px 1px grey;
	padding: 2px;
	position: relative;
}

.fa-solid.fa-location-dot {
	font-size: 17px;
	position: relative;
	left: -77px;
}

.para_decou {
	margin-top: 16px;
	padding: 2px 43px;
}

.para_explo {
	margin-top: 3px;
}

.para_li {
	margin-right: 0px;
	font-weight: bold;
	font-size: 15px;
	padding: -1px 0px 9px 53px;
	padding-left: 23px;
}

.fas.fa-mobile-alt {
	position: absolute;
	top: 34px;
	left: 35px;
}

.fas.fa-list-ul {
	position: absolute;
	top: 34px;
	left: 35px;
}

.fas.fa-store {
	position: absolute;
	top: 34px;
	left: 35px;
}

main .lieu {
	background-color: #f3f3f3;
	text-align: center;
	display: flex;
	padding: 1px;
	align-items: center;
	gap: 10px;
	justify-content: center;
}

.reserver {
	text-align: center;
	background-color: #d3d3d31f;
	padding-bottom: 70px;
	margin-bottom: 42px;
	padding-top: 7px;
}

.reserver h2 {
	margin-top: 23px;
	margin-left: 5px;
	padding: 3px 95px;
}
.reserver p {
	font-size: 17px;
}

.reserver button {
	color: white;
	font-weight: 246;
	font-size: 16px;
	padding: 13px 30px;
	margin-top: 13px;
	border-radius: 30px;
	box-shadow: 2px 1px 16px -3px #000000;
	margin-left: 0px;
	height: 56px;
	width: 270px;
	border: none;
	background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

.bulle {
	align-items: center;
	display: flex;
	border-radius: 50%;
	color: white;
	background-color: #4c0080b8;
	justify-content: center;
	height: 27px;
	width: 27px;
	position: absolute;
	left: -63px;
	bottom: -32px;
	transform: translate(50px, -50px);
}

.reserver button:hover {
	transform: scale(1.1);
	filter: brightness(110%);
	box-shadow: 5px 5px 5px 5px #00000073;
}

li {
	background-color: #f6f6f6;
	border-radius: 20px;
	padding: 7px 59px;
	flex-grow: 1;
	gap: 20px;
	display: flex;
	flex-direction: row;
	box-shadow: 2px 1px 16px -3px #000000;
	position: relative;
}

.fas.fa-store {
	color: #800080b3;
}

li:hover {
	transform: scale(1.02);
}

.pied {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 0%;
	padding-bottom: 0%;
	background-color: #3f3232;
	color: white;
	margin-top: 52px;
	justify-content: space-around;
}

.pied p {
	margin-left: 50px;
	margin-top: 1px;
}

.fa-solid.fa-utensils {
	width: 25px;
}

.fa-solid.fa-handshake-angle {
	width: 25px;
}

.flex li {
	margin-bottom: 20px;
	width: 346px;
	background-color: #ececec7a;
}

.flex li:nth-child(3) {
	background-color: #80008059;
}

.carte_menu {
	display: flex;
	gap: 20px;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 10px;
}

.carte {
	height: 200px;
	margin: 0 25px;
	background-color: white;
	border-radius: 15px 15px 15px 15px;
	text-decoration: none;
	position: relative;
	box-shadow: 1px 2px 6px 6px #dfdfdf;
}

.titre_section {
	margin-top: 10px;
	font-weight: bold;
	margin-left: 20px;
}

.titre {
	margin-left: -35px;
}

i.fas {
	margin-right: -2px;
	margin-top: -11px;
	color: #58008091;
	position: relative;
	top: 10px;
}

ol {
	list-style-type: none;
	gap: 15px;
	padding: 10px 25px;
	margin-bottom: -22px;
}

.fonction {
	padding: 10px 25px;
}

h2 {
	margin-bottom: 24px;
	margin-left: 10%;
}

.carte img {
	height: 124px;
	width: 100%;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}

.badge {
	background-color: #99e2d0;
	height: 36px;
	width: 104px;
	position: absolute;
	top: -4px;
	right: 10px;
	color: #159575;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 7%;
}

.ligne {
	text-decoration: none;
}

.coeur {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.pied h1 {
	font-family: shrikhand;
	margin-left: 25px;
}
.pied {
	display: flex;
	flex-direction: column;
	background-color: #3f3232;
	color: white;
	align-items: flex-start;
	padding-top: 0%;
	padding-bottom: 0%;
	margin-top: 52px;
	justify-content: space-around;
}

.pied {
	background-color: #3f3232;
	color: white;
}
.pied p {
	margin-left: 25px;
	margin-top: -10px;
}

.fork {
	display: flex;
	align-items: center;
	margin-bottom: 1px;
}

.hand {
	display: flex;
	align-items: center;
}

.resto {
	background-color: #e3e3e345;
	margin-top: 53px;
	padding-top: 43px;
}

.titre_resto {
	font-weight: bold;
	margin-left: 33px;
}

.new {
	text-decoration: none;
}

.titre_carte {
	font-weight: bold;
	color: black;
	margin-left: 10px;
}

.lieu_carte {
	color: black;
	margin-left: 10px;
	margin-top: -8%;
}

.fa-solid.fa-heart {
	font-size: 30px;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	position: relative;
	right: 1px;
	opacity: 0;
	padding: 10px;
	background-image: linear-gradient(red, blue);
	top: 11px;
}

.fa-regular.fa-heart {
	color: black;
	font-size: 30px;
	position: absolute;
	right: 11px;
	top: 162px;
}
.fa-solid.fa-heart:hover {
	opacity: 1;
	animation: effet 0.2s ease-in-out;
	animation-fill-mode: forwards;
	transform-origin: middle;
}

@keyframes effet {
	0% {
		transform: scale(0%);
	}
	100% {
		transform: scale(100%);
	}
}

.number {
	margin-left: 0%;
	border: 1px solid black;
	width: 2%;
	position: relative;
	top: 23%;
}

.pied a {
	text-decoration: none;
	color: white;
}

.loader {
	position: fixed;
	background-color: #d3d3d35e;
	height: 100vh;
	z-index: -1;
	inset: 0;
	opacity: 0.7;
	animation: spin 200ms 1s forwards;
	animation-fill-mode: forwards;
	display: grid;
	place-items: center;
	animation-delay: 1s;
}

.fa-solid.fa-spinner.fa-3x.fa-spin {
	position: absolute;
	top: 25px;
}

@keyframes spin {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@media (min-width: 768px) {
	.carte_menu {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.bulle {
		bottom: -8px;
	}
	.carte {
		width: 45%;
		margin: 10px 10px;
	}

	.fas.fa-mobile-alt {
		top: 50px;
	}

	.fas.fa-list-ul {
		top: 50px;
	}

	.fas.fa-store {
		top: 50px;
	}

	ol {
		display: flex;
		flex-direction: row;
		gap: 23px;
	}

	li {
		width: 150px;
		min-width: 70px;
	}

	.flex li {
		min-width: 200px;
	}

	.para_li {
		position: relative;
		top: 7px;
	}

	.bulle {
		bottom: -14px;
	}

	.fas.fa-mobile-alt {
		top: 51px;
	}

	.fas.fa-list-ul {
		top: 51px;
	}

	.fas.fa-store {
		top: 51px;
	}
}
@media (min-width: 800px) {
	.bulle {
		bottom: -24px;
	}

	.fas.fa-mobile-alt {
		top: 44px;
	}

	.fas.fa-list-ul {
		top: 44px;
	}

	.fas.fa-store {
		top: 44px;
	}
}

@media (min-width: 972px) {
	.carte {
		width: 98%;
		margin: 0 25px;
	}
	ol {
		display: flex;
		align-items: center;

		flex-direction: column;
	}

	.carte_menu {
		display: flex;
	}

	.bulle {
		bottom: -34px;
	}

	.fas.fa-mobile-alt {
		top: 36px;
	}

	.fas.fa-list-ul {
		top: 36px;
	}

	.fas.fa-store {
		top: 36px;
	}

	.para_li {
		position: relative;
		top: 1px;
	}
}
