*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: "roboto";
}

header {
	font-family: "Shrikhand";
	text-align: center;
	box-shadow: 0px 1px 1px 1px grey;
	padding: 2px;
	position: relative;
}

header h1 {
	margin-left: 51px;
}

.fa-solid.fa-location-dot {
	font-size: 17px;
}

.para_decou {
	margin-left: 32px;
    display: flex;
    padding: 33px 57px 10px 69px;
    align-items: center;
}


.para_explo {
	margin-top: 3px;
}

.para_li {
	margin-right: 0px;
	font-weight: bold;
	font-size: 15px;
	padding:-1px 0px 9px 53px;
	padding-left:39px;
}


.fas.fa-mobile-alt{position: absolute;top:34px;left:35px;}

.fas.fa-list-ul{position: absolute;top:34px;left:35px}

.fas.fa-store{position: absolute;top:34px;left:35px;}

main .lieu {
	background-color: #f3f3f3;
	text-align: center;
	display: flex;
	padding: 1px;
	align-items: center;
	gap: 10px;
	justify-content: center;
}

.reserver {
	text-align: center;
	background-color: #d3d3d31f;
	padding-top: 1px;
	padding-bottom: 70px;
}

.reserver h2 {
	margin-top: 27px;
	padding:20px 119px 20px 95px;

}
.reserver p {
	font-size: 17px;
}

.reserver button {
	color: white;
	font-weight: 246;
	font-size: 16px;
	padding: 13px 30px;
	border-radius: 30px;
	box-shadow: 2px 1px 16px -3px #000000;
	margin-top: 41px;
	margin-left: 47px;
	height: 51px;
	width: 252px;
	border: none;
	background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

.bulle {
	align-items: center;
	display: flex;
	border-radius: 50%;
	color: white;
	background-color: #4c0080b8;
	justify-content: center;
	height: 27px;
	width: 27px;
	position: absolute;
    left: -63px;
    bottom: -30px;
    transform: translate(50px, -50px);
}



.reserver button:hover {
	transform: scale(1.1);
}

li {
	background-color: #f6f6f6;
	border-radius: 20px;
	padding: 7px 41px;
	flex-grow: 1;
	gap:20px;
	width:63%;
	display: flex;
	flex-direction: row;
	box-shadow: 2px 1px 16px -3px #000000;
	position: relative;
}

.fas.fa-store {
	color: #800080b3;
}

li:hover {
	transform: scale(1.02);
}

@media (max-width: 768px) {
		.li{
		display: flex;
		flex-direction: column;
		gap: 40px;
		width: 200px;
		margin-left: -33px;
		justify-content: space-between;
	}

	.flex li {
	margin-bottom:20px;
	}

	

	.carte_menu {
		display: flex;
		margin-left: 34px;
		gap: 20px;
		flex-direction: column;
		justify-content: space-between;


	}

	.carte {
		height: 200px;
		width: 374px;
		background-color: white;
		border-radius: 15px 15px 15px 15px;
		text-decoration: none;
		gap: 20px;
		border: 1px solid black;
		position: relative;
	}
}

.fonction h2 {
	margin-bottom: 19px;
	margin-top: 60px;
}

i.fas {
	margin-right: -2px;
	bottom: -28px;
	margin-top: -11px;
	color: #58008091;
	position: relative;
	left: -22px;
}

ol {
	list-style-type: none;
	gap:30px;
}

h2 {
	margin-bottom: 24px;
	margin-left: 8%;
}

.carte img {
	height: 124px;
	width: 100%;
	border-radius: 15px 15px 0 0;
	object-fit: cover;
}

.badge {
	border: 1px solid black;
	background-color: lightgreen;
	height: 40px;
	width: 77px;
	position: absolute;
	top: -12px;
	right: 10px;
	color: green;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ligne {
	text-decoration: none;
}

.coeur {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.pied {
	background-color: #3f3232;
	color: white;
}

.pied h1 {
	font-family: shrikhand;
	margin-left: 10px;
}

.pied p {
	margin-left: 10px;
}

.fork {
	display: flex;
	align-items: center;
	margin-bottom: 1px;
}

.hand {
	display: flex;
	align-items: center;
}

.resto {
	background-color: #e3e3e345;
	margin-top: 53px;
}

.new {
	text-decoration: none;
}

.titre_carte {
	font-weight: bold;
	color: black;
	margin-left: 10px;
}

.lieu_carte {
	color: black;
	margin-left: 10px;
	margin-top: -8%;
}

.fa-solid.fa-heart {
	font-size: 30px;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	position: absolute;
	right: 1px;
	opacity: 0;
	padding: 10px;
	background-image: linear-gradient(red, blue);
}

.fa-regular.fa-heart {
	color: black;
	font-size: 30px;
	position: absolute;
	right: 11px;
}

.fa-solid.fa-heart:hover {
	opacity: 1;
}

.number {
	margin-left: 0%;
	border: 1px solid black;
	width: 2%;
	position: relative;
	top: 23%;
}


@media (min-width: 992px) {
	.titre_page{  transform:scale(3,1); 
		-webkit-transform:scale(4,1);
		margin-left:35px;
		display:inline-block;justify-content: center;}

	


	ol {
		display: flex;
		gap: 44px;
		width: 100%;
		margin-left: -33px;
		justify-content: space-between;
	}

	.reserver {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.reserver button {
		margin-left: 92px;
		width: 458px;
	}

	.para_decou {
		margin-left: 90px;
	}

	.flex li {
		width: 50px;
		display: flex;
		gap:30px;
		justify-content: space-between;
	}

	.reserver h2 {
		margin-left: 76px;
	}

	.titre {
		margin-left: 31px;
	}

	.fa-solid.fa-location-dot {
		font-size: 17px;
		position: relative;
		left: -49px;
	}

	.button {
		width: 150px;
	}

	
	.pied {
		display: flex;
		align-items: center;
		gap: 96px;
		justify-content: center;
		margin-top: 5px;
		margin-bottom: 4px;
	}
	.carte_menu {
		display: flex;
		margin-left: 34px;
		gap: 20px;
		flex-wrap: wrap;
	}

	.carte {
		height: 200px;
		width:49%;
		background-color: white;
		border-radius: 15px 15px 15px 15px;
		text-decoration: none;
		border: 1px solid black;
		position: relative;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.ol {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap:20px;
	}

	.titre_page{  transform:scale(3,1); 
		-webkit-transform:scale(4,1);
		margin-left:35px;
		display:inline-block;justify-content: center;}

	.carte_menu {
		display: flex;
		margin-left: 34px;
		gap: 20px;
		flex-wrap: wrap;
	}

	.carte {
		height: 200px;
		width: 374px;
		background-color: white;
		border-radius: 15px 15px 15px 15px;
		text-decoration: none;
		border: 1px solid black;
		position: relative;
	}

	.flex li{gap:20px;display: flex;}
}
