body {
	font-family: roboto;
	margin: 0px;
	padding: 0;
}

header h1 {
	font-family: "shrikhand";
	margin-left: 14px;
	text-align: center;
}

header a {
	text-decoration: none;
	color: black;
}

.image img {
	height: 466px;
	object-fit: cover;
	width: 100%;
	top: 8px;
	position: relative;
	width: 100%;
}

.menu h1 {
	font-family: "shrikhand";
	position: relative;
	top: -1px;
	margin-left: 29px;
	font-size: 30px;
}

.titre_menu {
	display: flex;
	justify-content: space-between;
	border-radius: 15px;
	align-items: center;
}

.entre {
	border-bottom: 1px solid aqua;
	margin-top: 47px;
	margin-bottom: 19px;
	margin-left: 27px;
	width: 40px;
}

.fa-solid.fa-heart {
	font-size: 30px;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	position: absolute;
	right: 2px;
	top: 16px;
	opacity: 0;
	padding: 10px;
	background-image: radial-gradient(red,blue);
}

.fa-regular.fa-heart {
	color: black;
	font-size: 30px;
	position: absolute;
	right: 40px;
	top: 42px;
}
.fa-solid.fa-heart:hover {
	opacity: 1;
	animation: effet 0.2s ease-in-out;
	animation-fill-mode: forwards;
	transform-origin: middle;
}

@keyframes effet {
	0% {
		transform: scale(0%);
	}
	100% {
		transform: scale(100%);
	}
}

.fa-solid.fa-arrow-left {
	margin-top: 13px;
	margin-left: 26px;
	font-size: 22px;
	color: black;
	position: absolute;
}

.plats_carte {
	gap: 30px;
	display: flex;
	flex-direction: column;
}

.dessert_carte {
	gap: 30px;
	display: flex;
	flex-direction: column;
}

.entre_carte {
	gap: 30px;
	display: flex;
	flex-direction: column;
}

.prix_ravioles {
	display: flex;
	margin-top: 10px;
}

.carte_ravioles:hover .fa-solid.fa-check {
	transform: rotate(1turn);
	transition: 2s;
}

.carte_ravioles:hover .bouton {
	margin-right: 0px;
	transition: 1s;
}
.carte_ravioles .bouton {
	margin-top: 0px;
	height: 83px;
	border-radius: 0 10px 10px 0;
}

.fa-solid.fa-check {
	margin-left: 37%;
	background-color: white;
	color: #99e2d0;
	border-radius: 50%;
	padding: 4%;
	margin-top: 29%;
}

.prix {
	position: absolute;
	right: 22px;
	bottom: -6px;
}

.carte_ravioles:hover > .prix {
	margin-right: 90px;
	transition: 1s;
}

.bouton {
	background-color: #99e2d0;
	width: 24%;
	height: 78px;
	margin-top: 1%;
	margin-right: -96px;
}

.pied {
	display: flex;
	flex-direction: column;
	background-color: #3f3232;
	color: white;
	align-items: flex-start;
	padding-top: 0%;
	padding-bottom: 0%;
	justify-content: space-around;
}

.fa-solid.fa-utensils {
	width: 25px;
}

.fa-solid.fa-handshake-angle {
	width: 25px;
}

.carte_ravioles {
	border-radius: 15px;
	gap: 1px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
	margin-bottom: 1px;
	height: 74px;
	padding-right: 0px;
	box-shadow: 3px 3px 3px 3px lightgray;
	margin: 0 31px;
	width: 85%;
}

.loader {
	position: fixed;
	background-color: #d3d3d35e;
	height: 100vh;
	z-index: -1;
	inset: 0;
	opacity: 0.9;
	animation: yeh 200ms 1s forwards;
	animation-fill-mode: forwards;
	display: flex;
	justify-content: center;
	animation-delay: 2s;
}

.fa-solid.fa-spinner.fa-3x.fa-spin {
	position: absolute;
	top: 25px;
}

@keyframes yeh {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

.commander {
	display: flex;
	padding-top: 6%;
	padding-bottom: 23%;
	justify-content: center;
	margin: 0 25px;
}

.header h1 {
	display: flex;
	justify-content: center;
	margin-left: 25px;
	flex-direction: row;
}

.titre_page {
	display: flex;
	justify-content: center;
	margin-right: 2%;
	flex-direction: row;
}

.fa-regular.fa-heart {
	color: black;
	font-size: 30px;
	position: absolute;
	right: 12px;
	top: 26px;
}

@keyframes slidedown {
	from {
		transform: translateY(150px);
		opacity: 0;
	}
	to {
		transform: translateY(20px);
		opacity: 1;
	}
}

.entre_carte {
	transition: 0.5s;
	animation: slidedown 4s;
}

.plats_carte {
	transition: 0.5s;
	animation: slidedown 4s;
}

.dessert_carte {
	transition: 0.5s;
	animation: slidedown 4s;
}

.carte_ravioles:hover .sauce {
	text-overflow: ellipsis;
	width: 184px;
	transition: 1s;
	overflow: hidden;
	white-space: nowrap;
}

.sauce {
	margin-left: 10px;
	margin-top: -8px;
}

.ravioles {
	font-weight: bold;
	margin-left: 9px;
}

.prix_entre {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.commander button {
	color: white;
	font-weight: 300;
	font-size: 20px;
	padding: 10px 30px;
	border-radius: 30px;
	box-shadow: 2px 1px 16px -3px #000000;
	width: 67%;
	margin-top: 40px;
	height: 73px;
	border: none;
	background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

.pied p {
	margin-left: 29px;
	margin-top: -7px;
}

.titre_menu {
	background-color: white;
	border-radius: 33px;
	position: relative;
	z-index: 1;
	margin-top: -26px;
}

.image {
	position: relative;
}

.fa-solid.fa-euro-sign {
	margin-top: -1px;
	margin-left: 1px;
}

.pied a {
	text-decoration: none;
	color: white;
}

.commander button:hover {
	transform: scale(1);
	filter: brightness(110%);
	box-shadow: 5px 5px 5px 5px #00000073;
	padding: 0;
}
@media (min-width:466px){
	.bouton{margin-right:-270px;}

	.carte_ravioles:hover > .prix {
		margin-right:130px;
		transition: 1s;
	}
}



@media (min-width: 768px) {
	.carte_ravioles {
		width: 94%;
		background-color: lightgray;
	}

	.carte_ravioles .bouton {
		margin-right: -87px;
		width: 86px;
	}
}

@media (min-width: 992px) {
	.entre_carte {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.plats_carte {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.dessert_carte {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.carte_ravioles:hover .sauce {
		text-overflow: ellipsis;
		width: 100px;
		overflow: hidden;
		white-space: white;
		transition: 1s;
	}
	.carte_ravioles:hover .ravioles {
		text-overflow: ellipsis;
		width: 100px;
		white-space: nowrap;
		overflow: hidden;
	}

	.carte_ravioles .sauce {
		font-size: 13px;
		text-overflow: ellipsis;
		width: 180px;
		overflow: hidden;
		white-space: nowrap;
	}
}

@media (min-width: 1300px) {
	.carte_ravioles:hover .sauce {
		width: 200px;
	}
	.carte_ravioles .sauce {
		width: 195px;
		white-space: nowrap;
	}
	.carte_ravioles:hover .ravioles {
		width: 210px;
		white-space: nowrap;
	}
	.carte_ravioles .ravioles {
		width: 200px;
		white-space: nowrap;
	}

}
